<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allievi</title>
    <style>
        /* Stile generale della tabella */
        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
        }

        /* Stile delle celle della tabella */
        th, td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        /* Stile dell'header della tabella */
        th {
            background-color: #f2f2f2;
            color: #333;
            text-transform: uppercase;
        }
        tr{
            transition: .25s;
            cursor: pointer;
        }

        /* Hover effect */
        tbody tr:hover {
            background-color: #71a1cb;
            color: #fff;
        }
    </style>
</head>
<body>

    <input type="text" id="filterNome" placeholder="Filtra per Nome">
    <input type="text" id="filterCognome" placeholder="Filtra per Cognome">
    <label for="filterVisitaFrom">Da</label>
    <input type="date" id="filterVisitaFrom" name="filterVisitaFrom">
    <label for="filterVisitaTo">A</label>
    <input type="date" id="filterVisitaTo" name="filterVisitaTo">
    <label for="filterVisitaMancante">visita Mancante</label>
    <input type="checkbox" id="filterVisitaMancante" name="filterVisitaMancante">

    <select id="filterPatente">
        <option value="all">Tutte</option>
        <option value="AM">AM</option>
        <option value="A1">A1</option>
        <option value="B">B</option>
        <option value="estensione A1B">estensione A1B</option>
    </select>
    <label for="filterRegistrazioneFrom">Da</label>
    <input type="date" id="filterRegistrazioneFrom" name="filterRegistrazioneFrom">
    <label for="filterRegistrazioneTo">A</label>
    <input type="date" id="filterRegistrazioneTo" name="filterRegistrazioneTo">

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Visita Medica</th>
                <th>Patente</th>
                <th>Registrazione</th>
            </tr>
        </thead>
        <tbody id="usersTableBody">
            <% users.forEach(function(user) { %>
                <tr data-cFiscale="<%= user.cFiscale %>">
                    <td><%= user.nome %></td>
                    <td><%= user.cognome %></td>
                    <td><%= user.contatti.email %></td>
                    <td><%= user.contatti.tel %></td>
                    <td><%= user.visita ? user.visita : 'Mancante' %></td>
                    <td>
                        <% user.patente.forEach(function(patente) { %>
                            <%= patente.tipo %> (<%= patente.pagato ? 'Pagata' : 'Non pagata' %>)<br>
                        <% }); %>
                    </td>
                    <td><%= user.dataRegistrazione %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <script>
        const tableRows = document.querySelectorAll('tr');
        tableRows.forEach((row) => {
            row.addEventListener('click', () => {
                const userCFiscale = row.dataset.cfiscale;
                const url = `/userPage?cf=${encodeURIComponent(userCFiscale)}`;
                window.location.href = url;
            });
        });
    </script>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const filterNome = document.getElementById('filterNome');
        const filterCognome = document.getElementById('filterCognome');
        const filterVisitaFrom = document.getElementById('filterVisitaFrom');
        const filterVisitaTo = document.getElementById('filterVisitaTo');
        const filterVisitaMancante = document.getElementById('filterVisitaMancante');
        const filterPatente = document.getElementById('filterPatente');
        const filterRegistrazioneFrom = document.getElementById('filterRegistrazioneFrom');
        const filterRegistrazioneTo = document.getElementById('filterRegistrazioneTo');
        const tableBody = document.getElementById('usersTableBody');
        const rows = tableBody.getElementsByTagName('tr');

        function filterTable() {
            const nome = filterNome.value.toLowerCase();
            const cognome = filterCognome.value.toLowerCase();
            const patente = filterPatente.value.toLowerCase();
            const dataRegistrazioneDa = filterRegistrazioneFrom.value;
            const dataRegistrazioneA = filterRegistrazioneTo.value;
            const dataVisitaDa = filterVisitaFrom.value;
            const dataVisitaA = filterVisitaTo.value;
            const visitaMancante = filterVisitaMancante.checked;
            for (let i = 0; i < rows.length; i++) {
                const row = rows[i];
                const nomeTd = row.getElementsByTagName('td')[0].textContent.toLowerCase();
                const cognomeTd = row.getElementsByTagName('td')[1].textContent.toLowerCase();
                const visitaTd = row.getElementsByTagName('td')[4].textContent.toLowerCase();
                const patenteTd = row.getElementsByTagName('td')[5].textContent.toLowerCase();
                const dataRegTd = row.getElementsByTagName('td')[6].textContent.toLowerCase();
                
                let isDateVisitaInRange, isVisitaMancante;
                if(!visitaMancante){
                    const dataVisita = new Date(visitaTd.split('/').reverse().join('-'));
                    const startVisitaDate = new Date(dataVisitaDa);
                    const endVisitaDate = new Date(dataVisitaA);
                    isDateVisitaInRange = dataVisita >= startVisitaDate && dataVisita <= endVisitaDate;
                }else{
                    isVisitaMancante = visitaTd == 'mancante' ? true : false;      
                }g
                const dataRegistrazione = new Date(dataRegTd.split('/').reverse().join('-'));
                const startRegistrazioneDate = new Date(dataRegistrazioneDa);
                const endRegistrazioneDate = new Date(dataRegistrazioneA);

                const isDateRegInRange = dataRegistrazione >= startRegistrazioneDate && dataRegistrazione <= endRegistrazioneDate;
                if (
                    (nome === '' || nomeTd.includes(nome)) &&
                    (cognome === '' || cognomeTd.includes(cognome)) &&
                    (patente === '' || patenteTd.includes(patente) || patente == 'all') &&
                    (dataRegistrazioneDa === '' || dataRegistrazioneA === '' || isDateRegInRange) &&
                    (dataVisitaDa === '' || dataVisitaA === '' || isDateVisitaInRange) &&
                    (!visitaMancante || isVisitaMancante)
                ) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            }
        }

        filterNome.addEventListener('input', filterTable);
        filterCognome.addEventListener('input', filterTable);
        filterPatente.addEventListener('input', filterTable);
        filterVisitaFrom.addEventListener('input', filterTable);
        filterVisitaTo.addEventListener('input', filterTable);
        filterRegistrazioneFrom.addEventListener('input', filterTable);
        filterRegistrazioneTo.addEventListener('input', filterTable);
        filterVisitaMancante.addEventListener('input', filterTable);
    });
</script>
</body>
</html>