<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allievi</title>
    <style>
        body{
            background: #71a1cb;
        }
        .documentSection{
            margin-top: 150px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .printForm{
            margin: 10px;
            max-width: 200px;
            width: 100%;
            color: #f1f1f1;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.5rem;
        }
        .printForm button{
            cursor: pointer;
            background: #0000;
            outline: none;
            border: none;
            color: #f1f1f1;
        }
        #updateUserForm{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        table {
            width: 50%;
            border-collapse: collapse;
            border-spacing: 0;
            margin: 50px;
        }
        th, td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            background: #f1f1f1;
        }

        th {
            color: #fff;
            background: #5681a9;
            text-transform: uppercase;
        }
        th:first-child{
            border-radius: 5px 0 0  0;
        }
        th:last-child{
            border-radius:  0 5px 0  0;
        }
        tfoot td{
            padding: 0;
            background: #0000;
            border: none;
        }
        #submitFormBtn{
            width: 100%;
            /* margin-top: 5px; */
            cursor: pointer;
            padding: 10px 20px;
            background: green;
            color: #fff;
            transition: .5s;
            outline: none;
            border: none;
            border-radius: 0 0 5px 5px;
        }
        #submitFormBtn:hover{
            opacity: .7;
        }
        .imageForms{
            width: 50%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
        }
        .imageForm{
            max-width: 250px;
            width: 100%;
            background: #eee;
            height: fit-content;
            padding: 5px;
            border-radius: 5px;
            text-align: center;
            color: #333;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-block: 15px;
        }
        #signPic{
            width: 175px;
            height: 50px;
            object-fit: contain;
            margin-bottom: 10px;
        } 
        #profilePic{
            object-fit: contain;
            width: 50px;
            height: 50px;
            margin-bottom: 10px;
        }

        .imageForm button, .imageForm label{
            width: fit-content;
            background-color: #71a1cb;
            color: #fff;
            padding: 12px 12px;
            margin: 10px auto;
            border-radius: 5px;
            border: none;
            outline: none;
            cursor: pointer;
            transition: .5s;
            font-size: 1rem;
        }
        .uploadBtn{
            padding: 12px 20px;
        }
        .imageForm button:hover, .imageForm label:hover {
            background: #5681a9;
        }
        .imageForm input{
            display: none;
        }
        tr:has(.attivo) td{
            background: green;
            color: #fff;
        }
        tr:has(.scaduto) td{
            background: red;
            color: #fff;
        }
        .field{
            margin-top: 5px;
            display: flex;
            align-items: center;
            text-align: justify;
        }
        .field p{
            font-weight: bold;
        }
        tr:has(input[value="respinto"]:checked) td{
            background: red;
            color: #fff;
        }
        tr:has(input[value="idoneo"]:checked) td{
            background: green;
            color: #fff;
        }
        tr:has(input[value="assente"]:checked) td{
            background: orange;
            color: #fff;
        }

        .formField{
            display: flex;
            align-items: center;
        }
        .formField button{
            width: fit-content;
            height: 40px;
            margin-inline: 10px;
            display: flex;
            align-items: center;
        }
        button.deleteButton {
            background: red;
            transition: .5s;
        }
        button.deleteButton:hover {
            background: rgb(119, 64, 64);
        }
    </style>
    <link  href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.2/cropper.min.js"></script>
    
</head>
<body>
    <%- include('components/header.ejs') %>
    <section class="documentSection">
        <div class="certificatiActions">
            <form class="printForm" action="/stampa" method="POST"> 
                <label for="printTT2112">TT2112:</label>
                <input type="hidden" name="id" value="<%= user._id %>"> 
                <input type="hidden" name="modulo" value="tt2112"> 
                <button id="printTT2112" type="submit" title="Stampa TT2112">
                    <span class="material-symbols-outlined">
                        print
                    </span>
                </button>
            </form>

            <form class="printForm" action="/stampa" method="POST"> 
                <label for="printResidenza">RESIDENZA:</label>
                <input type="hidden" name="id" value="<%= user._id %>"> 
                <input type="hidden" name="modulo" value="residenza"> 
                <button id="printResidenza" type="submit"  title="Stampa Autocertificazione di Residenza">
                    <span class="material-symbols-outlined">
                        print
                    </span>
                </button>
            </form>
        </div>


        <div class="imageForms">
            <form class="imageForm" id="firmaImageForm">
                <h2>Firma</h2>
                <input type="hidden" name="id" value="<%= user._id %>">
                <input type="hidden" name="location" id="firmaLocation" value="firmeIscrizioni">
                <img id="signPic" src="<%= `/images?dir=${encodeURIComponent('firmeIscrizioni/')}${encodeURIComponent(user._id)}.jpeg` %>" alt="Scansione Firma" onerror="this.style.display='none';">
 
                <input type="file" id="inputSigningFile" name="inputSigningFile" accept="image/*">
                <div class="formField">
                    <button type="submit" title="Salva Immagine">
                        <span class="material-symbols-outlined">
                            save
                        </span>
                    </button>
                    <label class="uploadBtn" for="inputSigningFile" title="Carica Immagine">
                        <span class="material-symbols-outlined">
                            upload
                        </span>
                    </label>
                    <input type="hidden" name="intent" value="firma">
                    <button type="button" class="deleteButton" title="Elimina Immagine">
                        <span class="material-symbols-outlined">delete</span>
                    </button>
                </div>
                <div id="cropContainer">
                    <img id="cropImage" style="max-width: 100%;">
                </div>
            </form>

            <form class="imageForm"  id="profileImageForm" enctype="multipart/form-data">
                <h2>Foto Tessera</h2>
                <input type="hidden" name="id" value="<%= user._id %>">
                <input type="hidden" name="location" id="profileLocation" value="immaginiIscrizioni">
                <img id="profilePic" src="<%= `/images?dir=${encodeURIComponent('immaginiIscrizioni/')}${encodeURIComponent(user._id)}.jpeg` %>" alt="Immagine Profilo" onerror="this.style.display='none';">

                <input type="file" id="inputProfileFile" name="inputProfileFile" accept="image/*">
                <div class="formField">
                    <button type="submit" title="Salva Immagine">
                        <span class="material-symbols-outlined">
                            save
                        </span>
                    </button>
                    <label class="uploadBtn" for="inputProfileFile" title="Carica Immagine">
                        <span class="material-symbols-outlined">
                            upload
                        </span>
                    </label>
                    <input type="hidden" name="intent" value="profilo">
                    <button type="button" class="deleteButton" title="Elimina Immagine">
                        <span class="material-symbols-outlined">
                            delete
                        </span>
                    </button>
                </div>
            </form>
        </div>
        <script src="/scripts/utils/scansioneFirma.js"></script>
        <script src="/scripts/utils/saveProfileImage.js"></script>
        <script src="/scripts/utils/deleteUserImage.js"></script>
    </section>
    <form id="updateUserForm" action="/updateUser" method="post">
        <table>
            <thead>
                <tr>
                    <th>Campo</th>
                    <th>Valore</th>
                </tr>
            </thead>
            <tbody>
                <input type="hidden" name="id" value="<%= user._id %>">
                <tr>
                    <td>Cognome</td>
                    <td><input type="text" id="cognome" name="cognome" value="<%= user.cognome %>"></td>
                </tr>
                <tr>
                    <td>Nome</td>
                    <td><input type="text" id="nome" name="nome" value="<%= user.nome %>"></td>
                </tr>
                <tr>
                    <td>Codice Fiscale</td>
                    <td><input type="hidden" id="cf" name="cf" value="<%= user.cFiscale %>"><%= user.cFiscale %></td>
                </tr>
                <tr>
                    <td>Data di Nascita</td>
                    <td><input type="date" id="dataNascita" name="dataNascita" value="<%= (user.nascita.data).split('/').reverse().join('-') %>"></td>
                </tr>
                <tr>
                    <td>Comune di Nascita</td>
                    <td><input type="text" id="comuneNascita" name="comuneNascita" value="<%= user.nascita.comune %>"></td>
                </tr>
                <tr>
                    <td>Provincia di Nascita</td>
                    <td>
                        <select name="provinciaNascita" class="provincia">
                            <option value="<%= user.nascita.provincia %>"><%= user.nascita.provincia %></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Stato di Nascita</td>
                    <td><input type="text" id="statoNascita" name="statoNascita" value="<%= user.nascita.stato %>"></td>
                </tr>
                <tr>
                    <td>Sesso</td>
                    <td>
                        <select name="sesso" id="sesso">
                            <option value="<%= user.sesso %>"><%= user.sesso %></option>
                            <option value="<%= user.sesso == 'M' ? 'F' : 'M' %>"><%= user.sesso == 'M' ? 'F' : 'M' %></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Via di Residenza</td>
                    <td><input type="text" id="viaResidenza" name="viaResidenza" value="<%= user.residenza.via %>"></td>
                </tr>
                <tr>
                    <td>Numero Civico</td>
                    <td><input type="text" id="civicoResidenza" name="civicoResidenza" value="<%= user.residenza.nCivico %>"></td>
                </tr>
                <tr>
                    <td>Cap</td>
                    <td><input type="text" id="capResidenza" name="capResidenza" value="<%= user.residenza.cap %>"></td>
                </tr>
                <tr>
                    <td>Comune di Residenza</td>
                    <td><input type="text" id="comuneResidenza" name="comuneResidenza" value="<%= user.residenza.comune %>"></td>
                </tr>
                <tr>
                    <td>Provincia di Residenza</td>
                    <td>
                        <select name="provinciaResidenza" class="provincia">
                            <option value="<%= user.residenza.provincia %>"><%= user.residenza.provincia %></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="email" id="email" name="email" value="<%= user.contatti.email %>" autocomplete="false"></td>
                </tr>
                <tr>
                    <td>Telefono</td>
                    <td><input type="tel" id="tel" name="tel" value="<%= user.contatti.tel %>" autocomplete="false"></td>
                </tr>
                <tr>
                    <td>Tipo di Documento</td>
                    <td><input type="text" id="documento" name="documento" value="<%= user.documento %>"></td>
                </tr>
                <tr>
                    <td>Numero di Documento</td>
                    <td><input type="text" id="nDocumento" name="nDocumento" value="<%= user.nDocumento %>"></td>
                </tr>
                <tr>
                    <td>Patenti</td>
                    <td>
                        <ul>
                            <% user.patente.forEach(function(patente) { %>
                                <% if(patente.pagato == true){ %>
                                    <li><%= patente.tipo %></li>
                                    <% if (patente.bocciato === null) { %>
                                        <input type="hidden" name="patente" value="<%= patente.tipo %>">
                                    <% } %>
                                <% } %>
                            <% }); %>
                        </ul>
                        
                    </td>
                </tr>
                <tr>
                    <td>Visita Medica</td>
                    <td><input type="date" id="visita" name="visita" value="<%= user.visita ? (user.visita).split('/').reverse().join('-') : '' %>"></td>
                </tr>
                <tr>
                    <td>Data Registrazione</td>
                    <td><%= user.dataRegistrazione %></td>
                </tr>
                <tr> 
                    <td>Numero Protocollo</td>
                    <td>
                        <input type="text" id="nProtocollo" name="nProtocollo" value="<%= user.protocollo.numero %>"> <br>
                        <div class="field">
                            <label for="dataNProtocollo">Emissione: </label>
                            <input type="date" id="dataNProtocollo" name="dataNProtocollo" value="<%= user.protocollo.dataEmissione ? (user.protocollo.dataEmissione).split('/').reverse().join('-') : '' %>"> <br>
                        </div>
                        <div class="field">
                            <% if(user.protocollo.dataEmissione){ %>
                                <label>Stato: </label>
                            <%
                                const emissione = new Date((user.protocollo.dataEmissione).split('/').reverse().join('-'));
                                const scadenza = new Date(emissione.setMonth(emissione.getMonth() + 6));
                                const scaduto = new Date() >= scadenza;
                                %>

                               <p class="<%= scaduto ? 'scaduto' : 'attivo'; %>"><%= scaduto ? ' Scaduto' : ' Attivo'; %> </p>
                            <% } %>
                        </div>
                        
                    </td>
                </tr>
                <% 
                    const teoriaAssente = user.teoria.filter(item => item.assente === true);
                    const countTeoriaAssente = teoriaAssente.length;
                %>
                
                <input type="hidden" name="teoriaLength" value="<%= user.teoria.length %>">
                <input type="hidden" name="countTeoriaAssente" value="<%= countTeoriaAssente %>">
                <% if (user.teoria.length == 0) { %>
                    <tr>
                        <td>Esame di Teoria 1</td>
                        <td>
                            Esame di Teoria 1<br>
                            <label for="dataEsame0">Data: </label>
                            <input type="date" id="dataEsame0" name="dataEsame0"> <br>
                            <label for="esitoEsame0">Idoneo: </label>
                            <input type="radio" name="esitoEsame0" value="idoneo"><br>
                            <label for="esitoEsame0">Respinto: </label>
                            <input type="radio" name="esitoEsame0" value="respinto"><br>
                            <label for="esitoEsame0">Assente: </label>
                            <input type="radio" name="esitoEsame0" value="assente"><br>
                        </td>
                    </tr>
                <% } %>
                <% for( let i = 0; i < user.teoria.length && i<2+countTeoriaAssente; i++ ) { %>
                    <% const esame = user.teoria[i] %>

                    <tr>
                        <td>Esame di Teoria <%= i+1 %></td>
                        <td>
                            Esame di Teoria <%= i+1 %><br>
                            <label for="dataEsame<%= i %>">Data: </label>
                            <input type="date" id="dataEsame<%= i %>" name="dataEsame<%= i %>" value="<%= esame.data ? (esame.data).split('/').reverse().join('-') : '' %>"> <br>
                            <label for="esitoEsame<%= i %>">Idoneo: </label>
                            <input type="radio" name="esitoEsame<%= i %>" <%= esame.esito ? 'checked' : '' %> value="idoneo"><br>
                            <label for="esitoEsame<%= i %>">Respinto: </label>
                            <input type="radio" name="esitoEsame<%= i %>" <%= esame.esito === false ? 'checked' : '' %> value="respinto"><br>
                            <label for="esitoEsame<%= i %>">Assente: </label>
                            <input type="radio" name="esitoEsame<%= i %>" <%= esame.assente ? 'checked' : '' %> value="assente"><br>
                        </td>
                    </tr>
                <% } %>
                <tr> 
                    <td>Numero Patente</td>
                    <td><input type="text" id="nPatente" name="nPatente" value="<%= user.numeroPatente %>"></td>
                </tr>
                <tr>
                    <td>Note</td>
                    <td><textarea name="note" id="note"><%= user.note %></textarea></td>
                </tr>
            </tbody>
            <tfoot>
                <td colspan="2"><button id="submitFormBtn" type="submit">Salva</button></td>
            </tfoot>
        </table>
        
    </form>

    <script>
        const provinceList = [
            "AG", "AL", "AN", "AR", "AP", "AT", "AV", "BA", "BT", "BL",
            "BN", "BG", "BI", "BO", "BZ", "BS", "BR", "CA", "CL", "CB",
            "CI", "CE", "CT", "CZ", "CH", "CO", "CS", "CR", "KR", "CN",
            "EN", "FM", "FE", "FI", "FG", "FC", "FR", "GE", "GO", "GR",
            "IM", "IS", "AQ", "SP", "LT", "LE", "LC", "LI", "LO", "LU",
            "MC", "MN", "MS", "MT", "VS", "ME", "MI", "MO", "MB", "NA",
            "NO", "NU", "OG", "OT", "OR", "PD", "PA", "PR", "PV", "PG",
            "PU", "PE", "PC", "PI", "PT", "PN", "PZ", "PO", "RG", "RA",
            "RC", "RE", "RI", "RN", "RM", "RO", "SA", "SS", "SV", "SI",
            "SR", "SO", "TA", "TE", "TR", "TO", "TP", "TN", "TV", "TS",
            "UD", "AO", "VA", "VE", "VB", "VC", "VR", "VV", "VI", "VT"
        ];
    
        const selectProvince = document.querySelectorAll(".provincia");

        selectProvince.forEach((opt) => {
            provinceList.forEach(province => {
                if (!opt.querySelector(`option[value="${province}"]`)) {
                    const option = document.createElement("option");
                    option.value = province;
                    option.textContent = province;
                    opt.appendChild(option);
                }
            });
        });
    </script>
</body>
</html>