<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allievi</title>
    <style>
        /* Stile generale della tabella */
        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
        }

        /* Stile delle celle della tabella */
        th, td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        /* Stile dell'header della tabella */
        th {
            background-color: #f2f2f2;
            color: #333;
            text-transform: uppercase;
        }
        tr{
            transition: .25s;
            cursor: pointer;
            background-color: #fff;
        }

        /* Hover effect */
        tbody tr:hover {
            background-color: #d6d6d6;
            /* color: #fff; */
        }

.telBtn{
    color: blue;
}


    .filterBox details {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filterField {
    padding: 5px;
    margin-inline: 25px;
    display: flex;
    flex-direction: column;
    border: 1px solid #1f1f1f5e;
    border-radius: 5px;
}

details h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #1f1f1f;
}

details label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #646464a6;
}

details input[type="text"],
details input[type="date"],
details select {
    max-width: 150px;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

details input[type="checkbox"] {
    margin-left: 5px;
}
.btn{
    padding: 10px;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
    border: none;
    outline: none;
}
a{
    text-decoration: none;
}
.buttonCell{
    display: flex;
    justify-content: center;
}
.fatturaDaEmettere, .fatturaDaEmettere a{
    background: orange;
    color: #fff;
}

.pagamenti, .pagamenti a{
    background: lightblue;
    color: #1f1f1f;
}
.btn:hover{
    opacity: .8;
}
        summary{
            cursor: pointer;
        }
        details > *:not(summary) {
            opacity: 0;
            transition: opacity 0.5s ease;
            overflow: hidden;
        }
        details[open] > * {
            opacity: 1;
            transition: opacity 0.5s ease;
        }
        .archiviato{
            display: none;
        }

        .elimina{
            display: none;
        }
    </style>
</head>
<body>
    <a href="/admin/price">Cambia Prezzi</a>
    <form action="/logout" method="POST"><button type="submit">LOGOUT</button></form>
    <div class="filterBox">
        <details>
            <summary>Filtri</summary>
            <div class="filterField">
                <input type="text" name="filterNome" id="filterNome" placeholder="Nome">
                <input type="text" id="filterCognome" placeholder="Cognome">
            </div>

    
            <div class="filterField">
                <label for="filterPatente">Patente</label>
                <select id="filterPatente" name="filterPatente">
                    <option value="all">Tutte</option>
                    <option value="AM">AM</option>
                    <option value="A1">A1</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="estensioneA1B">estensione A1B</option>
                </select>
            </div>
            <div class="filterField">
                <div class="checkboxField">
                    <label for="archiviato">archiviati</label>
                    <input type="checkbox" id="archiviato">
                </div>
            </div>
            <div class="filterField">
                <h3>Registrazione</h3>
                <label for="filterRegistrazioneFrom">Da</label>
                <input type="date" id="filterRegistrazioneFrom" name="filterRegistrazioneFrom">
                <label for="filterRegistrazioneTo">A</label>
                <input type="date" id="filterRegistrazioneTo" name="filterRegistrazioneTo">
            </div>
            <div class="filterField">
                <h3>Visita Medica</h3>
                <label for="filterVisitaFrom">Da</label>
                <input type="date" id="filterVisitaFrom" name="filterVisitaFrom">
                <label for="filterVisitaTo">A</label>
                <input type="date" id="filterVisitaTo" name="filterVisitaTo">
                <div class="checkboxField">
                    <label for="filterVisitaMancante">visita Mancante</label>
                    <input type="checkbox" id="filterVisitaMancante" name="filterVisitaMancante">
                </div>
            </div>
            <div class="filterField">
                <h3>Esame Teoria</h3>
                <label for="filterEsameFrom">Da</label>
                <input type="date" id="filterEsameFrom" name="filterEsameFrom">
                <label for="filterEsameTo">A</label>
                <input type="date" id="filterEsameTo" name="filterEsameTo">
            </div>
        </details>
        
    </div>
    <button id="selectUsers">Seleziona Utenti</button>
    <table>
        <thead>
            <tr>
                <th class="elimina">Elimina</th>
                <td>Numero</td>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Email</th>
                <th>Telefono</th>
                <th>Visita Medica</th>
                <th>Patente</th>
                <th>Registrazione</th>
                <th>Esami</th>
                <th>Fatture</th>
            </tr>
        </thead>
        <tbody id="usersTableBody">
            <form action="/deleteUsers" method="POST">
                <button type="submit" class="elimina">Elimina Utenti</button>
                <% let enumArchiviati = 1 %>
                <% let enumUtenti = 1 %>
                <% users.forEach(function(user, index) { %>
                    <% const pagato = user.patente.some(patenti => patenti.pagato);%>
                    <% if(pagato){ %>
                        <tr id="row<%= index %>" class="<%= user.archiviato ? 'archiviato' : '' %>" data-archiviato="<%= user.archiviato %>">
                            <td class="elimina"><input type="checkbox" name="codiceFiscale<%= index %>" value="<%= user.cFiscale %>"></td>
                            <td><%= user.archiviato ? enumArchiviati++ : enumUtenti++ %></td>
                            <td><a href="<%=`/userPage?cf=${encodeURIComponent(user.cFiscale)}`%>"><%= user.nome %></a></td>
                            <td><%= user.cognome %></td>
                            <td><%= user.contatti.email %></td>
                            <td><%= user.contatti.tel %></td>
                            <td><%= user.visita ? user.visita : 'Mancante' %></td>
                            <td>
                                <% user.patente.forEach(function(patente) { %>
                                    <% if(patente.pagato){ %>
                                    <%= patente.tipo %><br>
                                    <% } %>
                                <% }); %>
                            </td>
                            <td><%= user.dataRegistrazione %></td>
                            <td>
                                <% user.teoria.forEach(function(esame) { %>
                                    <%= esame.data %> <br>
                                <% }); %>
                            </td>
                            <%  
                            const fatturaEmessa = user.fatture.find(function(fattura) {
                                return fattura.emessa === false;
                            });
                            const daEmettere = !!fatturaEmessa;

                            %>
                            <td class="buttonCell">
                                <% if (daEmettere) { %>
                                     <button class="btn fatturaDaEmettere" ><a href="<%= `/admin/fattureDaEmettere?cf=${encodeURIComponent(user.cFiscale)}` %>">Fatture</a></button>
                                <% }else{ %>
                                    <button class="btn pagamenti" ><a href="<%= `/admin/pagamenti?cf=${encodeURIComponent(user.cFiscale)}` %>">Pagamenti</a></button>
                                <% } %>
                            </td>
                        </tr>
                    <% } %>
                <% }); %>
            </form>
        </tbody>
    </table>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const filterNome = document.getElementById('filterNome');
        const filterCognome = document.getElementById('filterCognome');
        const filterVisitaFrom = document.getElementById('filterVisitaFrom');
        const filterVisitaTo = document.getElementById('filterVisitaTo');
        const filterVisitaMancante = document.getElementById('filterVisitaMancante');
        const filterPatente = document.getElementById('filterPatente');
        const filterArchiviato = document.getElementById('archiviato');
        const filterRegistrazioneFrom = document.getElementById('filterRegistrazioneFrom');
        const filterRegistrazioneTo = document.getElementById('filterRegistrazioneTo');
        const filterEsameFrom = document.getElementById('filterEsameFrom');
        const filterEsameTo = document.getElementById('filterEsameTo');
        const tableBody = document.getElementById('usersTableBody');
        const rows = tableBody.getElementsByTagName('tr');

        function filterTable() {
            const nome = filterNome.value.toLowerCase();
            const cognome = filterCognome.value.toLowerCase();
            const patente = filterPatente.value.toLowerCase();
            const dataRegistrazioneDa = filterRegistrazioneFrom.value;
            const dataRegistrazioneA = filterRegistrazioneTo.value;
            const dataVisitaDa = filterVisitaFrom.value;
            const dataVisitaA = filterVisitaTo.value;
            const visitaMancante = filterVisitaMancante.checked;
            const dataEsameDa = filterEsameFrom.value;
            const dataEsameA = filterEsameTo.value;
            const archiviato = filterArchiviato.checked;
            let enumeration = 1;
            for (let i = 0; i < rows.length; i++) {
                const row = rows[i];
                const numTd = row.getElementsByTagName('td')[1].textContent.toLowerCase();
                const nomeTd = row.getElementsByTagName('td')[2].textContent.toLowerCase();
                const cognomeTd = row.getElementsByTagName('td')[3].textContent.toLowerCase();
                const visitaTd = row.getElementsByTagName('td')[6].textContent.toLowerCase();
                const patenteTd = row.getElementsByTagName('td')[7].textContent.toLowerCase();
                const dataRegTd = row.getElementsByTagName('td')[8].textContent.toLowerCase();
                const dataEsamiTd = row.getElementsByTagName('td')[9].textContent.toLowerCase().replace(/\s+/g, ' ').trim().split(' ');
                const isArchiviato = Boolean(row.dataset.archiviato);
                let isDateEsameInRange;
                for (const esame of dataEsamiTd) {
                    const dataEsame = new Date(esame.split('/').reverse().join('-'));
                    const startEsameDate = new Date(dataEsameDa);
                    const endEsameDate = new Date(dataEsameA);
                    isDateEsameInRange = dataEsame >= startEsameDate && dataEsame <= endEsameDate;
                    if (isDateEsameInRange) break;
                }
                let isDateVisitaInRange, isVisitaMancante;
                if(!visitaMancante){
                    const dataVisita = new Date(visitaTd.split('/').reverse().join('-'));
                    const startVisitaDate = new Date(dataVisitaDa);
                    const endVisitaDate = new Date(dataVisitaA);
                    isDateVisitaInRange = dataVisita >= startVisitaDate && dataVisita <= endVisitaDate;
                }else{
                    isVisitaMancante = visitaTd == 'mancante' ? true : false;      
                }
                const dataRegistrazione = new Date(dataRegTd.split('/').reverse().join('-'));
                const startRegistrazioneDate = new Date(dataRegistrazioneDa);
                const endRegistrazioneDate = new Date(dataRegistrazioneA);

                const isDateRegInRange = dataRegistrazione >= startRegistrazioneDate && dataRegistrazione <= endRegistrazioneDate;
                
                if (
                    (nome === '' || nomeTd.includes(nome)) &&
                    (cognome === '' || cognomeTd.includes(cognome)) &&
                    (patente === '' || patenteTd.includes(patente) || patente == 'all') &&
                    (dataRegistrazioneDa === '' || dataRegistrazioneA === '' || isDateRegInRange) &&
                    (dataVisitaDa === '' || dataVisitaA === '' || isDateVisitaInRange) &&
                    (!visitaMancante || isVisitaMancante) &&
                    (dataEsameDa === '' || dataEsameA === '' || isDateEsameInRange) &&
                    ((archiviato && isArchiviato) || (!archiviato && !isArchiviato))
                ) {
                    row.getElementsByTagName('td')[1].innerText = enumeration++;
                    row.style.display = 'table-row';
                } else {
                    row.style.display = 'none';
                }
            }
        }

        filterNome.addEventListener('input', filterTable);
        filterCognome.addEventListener('input', filterTable);
        filterPatente.addEventListener('input', filterTable);
        filterVisitaFrom.addEventListener('input', filterTable);
        filterVisitaTo.addEventListener('input', filterTable);
        filterRegistrazioneFrom.addEventListener('input', filterTable);
        filterRegistrazioneTo.addEventListener('input', filterTable);
        filterVisitaMancante.addEventListener('input', filterTable);
        filterEsameFrom.addEventListener('input', filterTable);
        filterEsameTo.addEventListener('input', filterTable);
        filterArchiviato.addEventListener('input', filterTable);
    });
</script>
    <script>
        const selectUsersBtn = document.getElementById('selectUsers');
        const usersTd = document.querySelectorAll('.elimina');
        selectUsersBtn.addEventListener('click', () => {
            usersTd.forEach((td) => {
                td.style.display = td.style.display != 'table-cell' ? 'table-cell' : 'none';
            });
        });
    </script>
</body>
</html>