<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Allievi</title>
    <link rel="stylesheet" href="/styles/admin/users.css">
    <link rel="stylesheet" href="/styles/admin/rinnovi/users.css">
</head>
<body>
    <%- include('../components/header.ejs') %>
        <details id="rinnoviMenu">
            <summary>
                <span class="material-symbols-outlined">
                    more_vert
                </span>
            </summary>
            <ul>
                <li id="filterRinnoviBtn">
                    <span  class="material-symbols-outlined">
                        filter_alt
                    </span>
                </li>
                <li id="searchUsersBtn">
                    <span  class="material-symbols-outlined">
                        data_loss_prevention
                    </span>
                </li>
            </ul>
        </details>


        <section id="filterRinnovi" style="height: 0;">
            <div class="closeFilterField">
                <span id="closeFilterBtn" class="material-symbols-outlined">
                    close
                </span>
            </div>
            <div class="field">
                <label for="filterName">Nome:</label>
                <input type="text" name="filterName" id="filterName">
            </div>
            <div class="field">
                <label for="filterSurname">Cognome:</label>
                <input type="text" name="filterSurname" id="filterSurname">
            </div>
            <div class="field">
                <label for="filterEmail">Email:</label>
                <input type="email" name="filterEmail" id="filterEmail">
            </div>
            <div class="field">
                <label for="filterPhone">Telefono:</label>
                <input type="tel" name="filterPhone" id="filterPhone">
            </div>
            <div class="field">
                <label for="filterArchived">Archiviato</label>
                <input type="checkbox" name="filterArchived" id="filterArchived">
            </div>
            <div class="field">
                <h3>Visita Medica</h3><br>
                <div>
                    <label for="filterVisitaFromDate">Da Data:</label>
                    <input type="date" id="filterVisitaFromDate" name="filterVisitaFromDate">
                    <label for="filterVisitaToDate">A Data:</label>
                    <input type="date" id="filterVisitaToDate" name="filterVisitaToDate">
                    <label for="filterVisitaFromHour">Da Ora:</label>
                    <input type="time" id="filterVisitaFromHour" name="filterVisitaFromHour">
                    <label for="filterVisitaToHour">A Ora:</label>
                    <input type="time" id="filterVisitaToHour" name="filterVisitaToHour">
                </div>
            </div>
        </section>

        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const filterRinnoviBtn = document.getElementById('filterRinnoviBtn');
                const filterRinnovi = document.getElementById('filterRinnovi');
                const closeFilterBtn = document.getElementById('closeFilterBtn');
                filterRinnoviBtn.addEventListener('click', () => {
                    toggleFilterMenu()
                });
                closeFilterBtn.addEventListener('click', () => {
                    toggleFilterMenu()
                });

                const toggleFilterMenu = () => {
                    const isClosed = filterRinnovi.style.height == '0px';
                    filterRinnovi.style.height = isClosed ? '100%' : '0px';
                    setTimeout(() => {
                        filterRinnovi.style.opacity = isClosed ? 1 : 0;
                    },200);
                    
                }
            });
            
        </script>


    <div id="blurredBg"></div>
    <section id="searchDataContainer">
            <form id="searchDataForm" action="/admin/rinnovi/ricerca/portaleAutomobilista" method="POST">
                <div class="field">
                    <span id="closeSearchFormBtn" class="material-symbols-outlined">
                        close
                    </span>
                </div>
                <div class="field">
                    <h3>Cerca Dati</h3>
                </div>
                <div class="field">
                    <label for="nPatente">Numero Patente</label>
                    <input type="text" name="nPatente" id="nPatente" placeholder=" ">
                </div>
                <div class="field">
                    <label for="cFiscale">Codice Fiscale</label>
                    <input type="text" name="cFiscale" id="cFiscale" placeholder=" ">
                </div>
                <div class="field">
                    <label for="cognome">Cognome</label>
                    <input type="text" name="cognome" id="cognome" placeholder=" ">
                </div>
                <div class="field">
                    <button type="submit">
                        <span class="material-symbols-outlined">
                            search
                        </span>
                    </button>
                </div>
            </form>
    </section>
    <script>
        const searchUsersBtn = document.getElementById('searchUsersBtn');
        const blurredBg = document.getElementById('blurredBg');
        const searchDataContainer = document.getElementById('searchDataContainer');
        const searchDataForm = document.getElementById('searchDataForm');
        const closeSearchFormBtn = document.getElementById('closeSearchFormBtn');
        searchUsersBtn.addEventListener('click', () => {
            blurredBg.style.display = 'block';
            searchDataContainer.style.display = 'flex';
            setTimeout(() => {
                blurredBg.style.opacity = .4;
                searchDataContainer.style.opacity = 1;
            }, 100);
        });

        closeSearchFormBtn.addEventListener('click', () => {
            closeSearchForm()
        });
        blurredBg.addEventListener('click', () => {
            closeSearchForm()
        });
        
        const closeSearchForm = () => {
            blurredBg.style.opacity = 0;
            searchDataContainer.style.opacity = 0;
            setTimeout(() => {
                blurredBg.style.display = 'none';
                searchDataContainer.style.display = 'none';
            }, 500);
        }
    </script>
    <table>
        <form action="/rinnovi/deleteUsers" id="actionUsersForm" method="POST">
            <thead>
                <tr>
                    <th>
                        <span id="selectUsers" class="material-symbols-outlined">
                            checklist
                        </span>
                        <button type="submit" class="elimina theadBtn action" name="action" value="elimina">
                            <span class="material-symbols-outlined">
                                delete_forever
                            </span>
                        </button>
                        <button type="submit" class="archivia theadBtn action" name="action" value="archive">
                            <span class="material-symbols-outlined">
                                archive
                            </span>
                        </button>
                    </th>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Visita Medica</th>
                    <th>Fatture</th>
                </tr>
            </thead>
            <tbody id="usersTableBody">
                <% let enumArchiviati = 1 %>
                <% let enumUtenti = 1 %>
                <% users.forEach(function(user, index) { %>
                        <tr id="row<%= index %>" class="<%= user.archiviato ? 'archiviato' : '' %> row" data-archiviato="<%= !!user.archiviato %>">
                            <td>
                                <div class="cellContent">
                                    <input class="action" type="checkbox" name="user<%= index %>" value="<%= user._id %>">
                                    <div class="numero">
                                        <%= user.archiviato ? enumArchiviati++ : enumUtenti++ %>
                                    </div>
                                </div>
                            </td>
                            <td><a href="<%=`rinnovi/userPage?id=${encodeURIComponent(user._id)}`%>"><%= user.nome %></a></td>
                            <td><%= user.cognome %></td>
                            <td><%= user.contatti.email %></td>
                            <td><%= user.contatti.tel %></td>
                            <% const dataVisita = user.visita.data ? user.visita.data.split('-').reverse().join('/') : '' %>
                            <% const oraVisita = user.visita.ora ? user.visita.ora : '' %>
                            <td><%= dataVisita || oraVisita ? `${dataVisita} ${oraVisita}`  : 'Mancante' %></td>
                            <td class="buttonCell">
                                <% if (!user.fatture.importo) { %>
                                    <a class="pagamenti" href="<%=`rinnovi/userPage?id=${encodeURIComponent(user._id)}`%>">
                                        <span class="material-symbols-outlined">
                                            euro_symbol
                                        </span>
                                    </a>
                                <% }else{ %>
                                    <button class="downloadFattura" data-number="<%= user.fatture.numero %>" type="button" style="background: none; border: none; outline: none; cursor: pointer;">
                                        <span class="material-symbols-outlined pagamenti">
                                            receipt_long
                                        </span>
                                    </button>                                   
                                <% } %>
                                
                            </td>
                        </tr>
                <% }); %>
            </tbody>
        </form>
    </table>
    <script>
        const selectUsersBtn = document.getElementById('selectUsers');
        const actionUsersTd = document.querySelectorAll('.action');
        const actionUsersForm = document.getElementById('actionUsersForm');
        selectUsersBtn.addEventListener('click', () => {
            actionUsersTd.forEach((td) => {
                td.style.display = td.style.display != 'inline-flex' ? 'inline-flex' : 'none';
            });
        });

        actionUsersForm.addEventListener('submit',event => {
            const confirmSubmission = confirm("Sei sicuro di voler effettuare l'azione sugli utenti selezionati?");
            if (!confirmSubmission) event.preventDefault();
        });


        document.querySelectorAll('.downloadFattura').forEach(btn => {
            btn.addEventListener('click', async (event) => {
                try {
                    const response = await fetch('/admin/rinnovi/downloadFattura', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ numero: btn.dataset.number })
                    });
                    if (response.ok) {
                        const blob = await response.blob();
                        const contentDisposition = response.headers.get('Content-Disposition');
                        let fileName;

                        if (contentDisposition && contentDisposition.indexOf('filename=') !== -1) {
                            const matches = /filename="([^"]+)"/.exec(contentDisposition);
                            if (matches && matches[1]) {
                                fileName = matches[1];
                            }
                        }
                    
                        const url = window.URL.createObjectURL(blob);
                        const a = document.createElement('a');
                        a.style.display = 'none';
                        a.href = url;
                        a.download = fileName;
                        document.body.appendChild(a);
                        a.click();
                        window.URL.revokeObjectURL(url);
                        a.remove();
                    } else {
                        throw new Error('Errore durante il download della fattura');
                    }
                } catch (error) {
                    alert('Errore durante il download della fattura');
                }
            });
        });
    </script>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const filterName = document.getElementById('filterName');
        const filterSurname = document.getElementById('filterSurname');
        const filterEmail = document.getElementById('filterEmail');
        const filterPhone = document.getElementById('filterPhone');    
        const filterVisitaFromDate = document.getElementById('filterVisitaFromDate');
        const filterVisitaToDate = document.getElementById('filterVisitaToDate');
        const filterVisitaFromHour = document.getElementById('filterVisitaFromHour');
        const filterVisitaToHour = document.getElementById('filterVisitaToHour');
        const filterArchived = document.getElementById('filterArchived');
        const archiveBtn = document.querySelector('.archivia')
        const archiveBtnSpan = document.querySelector('.archivia span')
        const rows = document.querySelectorAll('.row');
    
    const filterRinnovi = () => {
        const nome = filterName.value.toLowerCase();
        const cognome = filterSurname.value.toLowerCase();
        const email = filterEmail.value.toLowerCase();
        const tel = filterPhone.value;
        const fromDate = new Date(filterVisitaFromDate.value);
        const toDate = new Date(filterVisitaToDate.value); 
        const fromHour = filterVisitaFromHour.value.split(':')[0]*60 + +filterVisitaFromHour.value.split(':')[1];
        const toHour = filterVisitaToHour.value.split(':')[0]*60 + +filterVisitaToHour.value.split(':')[1];
        const archived = filterArchived.checked;
        for(const row of rows){
            const isArchived = row.dataset.archiviato == 'true';
            const nomeTd = row.getElementsByTagName('td')[1].textContent.toLocaleLowerCase();
            const cognomeTd = row.getElementsByTagName('td')[2].textContent.toLocaleLowerCase();
            const emailTd = row.getElementsByTagName('td')[3].textContent.toLocaleLowerCase();
            const telTd = row.getElementsByTagName('td')[4].textContent.toLocaleLowerCase();
            const dataOraTd = row.getElementsByTagName('td')[5].textContent.toLocaleLowerCase();
            let dataTd, oraTd, dataCompresa, oraCompresa;
            if(dataOraTd != 'mancante'){
                [dataTd, oraTd] = dataOraTd.split(' ');
                dataTd = dataTd.split('/').reverse().join('-');
                oraTd = oraTd.split(':')[0]*60 + +oraTd.split(':')[1];
                dataCompresa = fromDate <= new Date(dataTd) && new Date(dataTd) <= toDate;
                oraCompresa = fromHour <= oraTd && oraTd <= toHour;
            }else{
                dataCompresa = true;
                oraCompresa = true;
            }

            if(
                (nome === '' || nomeTd.includes(nome)) &&
                (cognome === '' || cognomeTd.includes(cognome)) &&
                (email === '' || emailTd.includes(email)) &&
                (tel === '' || telTd.includes(tel)) &&
                ((oraCompresa) || !filterVisitaFromHour.value || !filterVisitaToHour.value) &&
                ((dataCompresa) || !filterVisitaFromDate.value || !filterVisitaToDate.value) &&
                ((archived && isArchived) || (!archived && !isArchived))
            ){
                row.style.display = 'table-row'
            }else{
                row.style.display = 'none'
            }
            if(archived){
                archiveBtn.value = 'unarchive';
                archiveBtnSpan.style.color = 'green';
                archiveBtnSpan.innerText = 'unarchive'
            }else{
                archiveBtn.value = 'archive';
                archiveBtnSpan.style.color = 'orange';
                archiveBtnSpan.innerText = 'archive'
            }
        }
    }

    filterName.addEventListener('input', filterRinnovi);
    filterSurname.addEventListener('input', filterRinnovi);
    filterEmail.addEventListener('input', filterRinnovi);
    filterPhone.addEventListener('input', filterRinnovi);
    filterVisitaFromDate.addEventListener('input', filterRinnovi);
    filterVisitaToDate.addEventListener('input', filterRinnovi);
    filterVisitaFromHour.addEventListener('input', filterRinnovi);
    filterVisitaToHour.addEventListener('input', filterRinnovi);
    filterArchived.addEventListener('input', filterRinnovi);
});

</script>
</body>
</html>