<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Cassa</title>
    <link rel="stylesheet" href="/styles/admin/payments/cassa.css">
</head>
<body>
    <%- include('../components/header.ejs') %>
    <%- include('../components/cassaFilters.ejs') %>
    <main>
        <form id="cassaForm" action="/updateCassa" method="POST">
            <div class="field">
                <label for="causa">oggetto: </label>
                <textarea name="causa" id="causa" required></textarea>
            </div>
            <div class="field">
                <label for="data">data: </label>
                <input type="date" name="data" id="data" required>
            </div>
            <div class="field">
                <label for="importo">importo: </label>
                <input type="number" name="importo" id="importo" step="0.01" required>
            </div>
            <div class="field">
                <label for="entrata">entrata</label>
                <input type="radio" name="tipoSpesa" id="entrata" value="entrata" checked>
                <label for="uscita">uscita</label>
                <input type="radio" name="tipoSpesa" id="uscita" value="uscita">
            </div>
            <button type="submit">Invia</button>
        </form>

        <table>
            <form action="/deleteCassaItem" method="POST">
                <thead>
                    <tr>
                        <th>
                            <button id="deleteTransazioneBtn" type="submit">
                                <span class="material-symbols-outlined">
                                    delete_forever
                                </span>
                            </button>
                        </th>
                        <th>oggetto</th>
                        <th>data</th>
                        <th>importo</th>
                        <th>tipo</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(const transazione of cassa){ %>
                        <tr class="row">
                            <td><input type="checkbox" name="id_<%= transazione._id %>" value="<%= transazione._id %>"></td>
                            <td><%= transazione.causa %></td>
                            <td><%= transazione.data %></td>
                            <td><%= Math.abs(transazione.importo) %>€</td>
                            <td><%= transazione.importo < 0 ? 'Uscita' : 'Entrata' %></td>
                        </tr>
                    <% } %>
                </tbody>
            </form>
        </table>
    </main>
</body>
</html>