<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storico Pagamenti</title>
    <link rel="stylesheet" href="/styles/admin/payments/storicoPagamenti.css">
</head>
<body>
    <%- include('../components/header.ejs') %>
    <main>
        <table>
            <thead>
                <th>data</th>
                <th>importo</th>
                <th>metodo</th>
            </thead>
            <tbody>
                <tr>
                    <% pagamenti.forEach(pagamento => { %>
                        <tr>
                            <td><%= pagamento.data %></td>
                            <td><%= pagamento.importo %>€</td>
                            <% 
                                const services = ['Paypal', 'Stripe', 'Satispay', 'Codice'];
                                const cleanedUrl = pagamento.paymentUrl.replace(/^https?:\/\/(www\.)?/, '').split('/')[0].toLowerCase();
                                let paymentMethod;
                                for(const service of services){
                                    if(cleanedUrl.includes(service.toLowerCase())){
                                        paymentMethod = service;
                                        break;
                                    }
                                }
                              %>
                            <td>
                                <% if (paymentMethod != 'Codice') { %>
                                    <a href="<%= pagamento.paymentUrl %>"><%= paymentMethod %></a>
                                <% }else{ %>
                                    <%= paymentMethod %>
                                <% } %>
                            </td>
                        </tr>
                    <% }); %>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>