<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Storico Pagamenti</title>
    <link rel="stylesheet" href="/styles/admin/payments/storicoPagamenti.css">
</head>
<body>
    <%- include('../components/header.ejs') %>
    <main>
        <table>
            <thead>
                <th>data</th>
                <th>importo</th>
                <th>metodo</th>
                <th>Fattura di cortesia</th>
            </thead>
            <tbody>
                <tr>
                    <% pagamenti.forEach(pagamento => { %>
                        <tr>
                            <td><%= pagamento.data %></td>
                            <td><%= pagamento.importo %>€</td>
                            
                            <td>
                                <% if (pagamento.paymentUrl) { %>
                                    <% 
                                        const services = ['Paypal', 'Stripe', 'Satispay', 'Codice'];
                                        const cleanedUrl = pagamento.paymentUrl.replace(/^https?:\/\/(www\.)?/, '').split('/')[0].toLowerCase();
                                        let paymentMethod;
                                        for(const service of services){
                                            if(cleanedUrl.includes(service.toLowerCase())){
                                                paymentMethod = service;
                                                break;
                                            }
                                        }
                                    %>
                                    <% if (paymentMethod != 'Codice') { %>
                                        <a href="<%= pagamento.paymentUrl %>"><%= paymentMethod %></a>
                                    <% }else{ %>
                                        <%= paymentMethod %>
                                    <% } %>
                                <% }else{ %>
                                    La traccia dei pagamenti è tenuta dall'11/09/2024
                                <% } %>
                            </td>
                            <td>
                                <% if (pagamento.fileCortesia) { %>
                                    <button class="downloadFatturaCortesia" title="fattura di cortesia" data-file="<%= pagamento.fileCortesia %>" type="button" style="background: none; border: none; outline: none; cursor: pointer;">
                                        <span class="material-symbols-outlined pagamenti">
                                            receipt
                                        </span>
                                    </button>
                                <% } %>
                            </td>
                        </tr>
                    <% }); %>
                </tr>
            </tbody>
        </table>
    </main>
    <script>
        document.querySelectorAll('.downloadFatturaCortesia').forEach(btn => {
            btn.addEventListener('click', async (event) => {
                try {
                    const response = await fetch('/admin/downloadFatturaCortesia', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ file: btn.dataset.file })
                    });
                    if (response.ok) {
                        const blob = await response.blob();
                        const contentDisposition = response.headers.get('Content-Disposition');
                        let fileName;

                        if (contentDisposition && contentDisposition.indexOf('filename=') !== -1) {
                            const matches = /filename="([^"]+)"/.exec(contentDisposition);
                            if (matches && matches[1]) {
                                fileName = matches[1];
                            }
                        }
                    
                        const url = window.URL.createObjectURL(blob);
                        const a = document.createElement('a');
                        a.style.display = 'none';
                        a.href = url;
                        a.download = fileName;
                        document.body.appendChild(a);
                        a.click();
                        window.URL.revokeObjectURL(url);
                        a.remove();
                    } else {
                        throw new Error('Errore durante il download della fattura di cortesia');
                    }
                } catch (error) {
                    alert('Errore durante il download della fattura di cortesia');
                }
            });
        });
    </script>
</body>
</html>