<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Generatore Fattura Elettronica</title>
    <link rel="stylesheet" href="\styles\admin\payments\fatture\emettiFattura.css">
</head>
<body>
    <%- include('../../components/header.ejs') %>
    <main>
        <form id="fatturaForm" method="POST" action="/createFattura">
            <fieldset>
                <legend>Dati Trasmissione</legend>
                <input type="hidden" name="IdPaese" id="IdPaese" value="IT">
                <input type="hidden" name="IdCodice" id="IdCodice" value="06498290011">
                <label for="progressivoInvio">Progressivo Invio:</label><br>
                <input type="text" id="progressivoInvio" name="progressivoInvio" value="i00<%= numeroFattura %>"><br><br>

                <input type="hidden" id="formatoTrasmissione" name="formatoTrasmissione" value="FPR12">

                <label for="codiceDestinatario">Codice Destinatario:</label><br>
                <input type="text" id="codiceDestinatario" name="codiceDestinatario" value="<%= guide ? '0000000' : '' %> "><br><br>

                <input type="hidden" id="telefonoTrasmittente" name="telefonoTrasmittente" value="0116507136">
                <input type="hidden" id="emailTrasmittente" name="emailTrasmittente" value="autoscuola.centrale@libero.it">
                <input type="hidden" id="codiceFiscaleCedente" name="codiceFiscaleCedente" value="DMLNTN67S12L738X">    
                <input type="hidden" id="denominazioneCedente" name="denominazioneCedente" value="D'Amelio Antonio">    
                <input type="hidden" id="regimeFiscaleCedente" name="regimeFiscaleCedente" value="RF01">
                <input type="hidden" id="indirizzoSedeCedente" name="indirizzoSedeCedente" value="Corso Guglielmo Marconi, 33">
                <input type="hidden" id="capSedeCedente" name="capSedeCedente" value="10125">
                <input type="hidden" id="comuneSedeCedente" name="comuneSedeCedente" value="TORINO">
                <input type="hidden" id="provinciaSedeCedente" name="provinciaSedeCedente" value="TO">
                <input type="hidden" id="nazioneSedeCedente" name="nazioneSedeCedente" value="IT">
            </fieldset>
                
            <fieldset>
                <legend>Dati Cessionario/Committente</legend>

                <label for="nomeCliente">Nome Cliente:</label><br>
                <input type="text" id="nomeCliente" name="nomeCliente" value="<%= guide ? (dati.nome).replace(/\s+/g, ' ').trim() : '' %>"><br><br>

                <label for="cognomeCliente">Cognome Cliente:</label><br>
                <input type="text" id="cognomeCliente" name="cognomeCliente" value="<%= guide ? (dati.cognome).replace(/\s+/g, ' ').trim() : '' %>"><br><br>

                <label for="codiceFiscaleCliente">Codice Fiscale Cliente:</label><br>
                <input type="text" id="codiceFiscaleCliente" name="codiceFiscaleCliente" value="<%= guide ? (dati.cFiscale).replace(/\s+/g, ' ').trim() : '' %>"><br><br>
                <fieldset>
                    <legend>Sede Cessionario/Committente</legend>
                    <label for="indirizzoSedeCliente">Indirizzo:</label><br>
                    <input type="text" id="indirizzoSedeCliente" name="indirizzoSedeCliente" value="<%= guide ? (dati.residenza.via).replace(/\s+/g, ' ').trim() + ' ' + (dati.residenza.nCivico).replace(/\s+/g, ' ').trim() : '' %>"><br><br>

                    <label for="capSedeCliente">CAP:</label><br>
                    <input type="text" id="capSedeCliente" name="capSedeCliente" value="<%= guide ? (dati.residenza.cap).replace(/\s+/g, ' ').trim() : '' %>"><br><br>

                    <label for="comuneSedeCliente">Comune:</label><br>
                    <input type="text" id="comuneSedeCliente" name="comuneSedeCliente" value="<%= guide ? (dati.residenza.comune).replace(/\s+/g, ' ').trim() : '' %>"><br><br>

                    <label for="provinciaSedeCliente">Provincia:</label><br>
                    <input type="text" id="provinciaSedeCliente" name="provinciaSedeCliente" value="<%= guide ? (dati.residenza.provincia).replace(/\s+/g, ' ').trim() : '' %>"><br><br>

                    <label for="nazioneSedeCliente">Nazione:</label><br>
                    <input type="text" id="nazioneSedeCliente" name="nazioneSedeCliente" value="IT"><br><br>
                </fieldset>
            </fieldset>

            <fieldset>
                <legend>Dati Generici Documento</legend>
                <input type="hidden" id="tipoDocumento" name="tipoDocumento" value="TD01">
                <input type="hidden" id="divisa" name="divisa" value="EUR">

                <label for="data">Data:</label><br>
                <input type="text" id="data" name="data" value="<%= guide ? data : '' %>"><br><br>

                <label for="numeroDocumento">Numero Documento:</label><br>
                <input type="text" id="numeroDocumento" name="numeroDocumento" value="i00<%= numeroFattura %>"><br><br>
                <label for="ImportoTotaleDocumento">ImportoTotaleDocumento</label>
                <input type="text" id="ImportoTotaleDocumento" name="ImportoTotaleDocumento" value="<%= guide ? Number(importo).toFixed(2) : '' %>">
            </fieldset>

            <fieldset>
                <legend>Dati Beni e Servizi</legend>
                <fieldset>
                    <legend>Numero Linea 1</legend>
                    <label for="numeroLinea1">Numero Linea:</label><br>
                    <input type="text" id="numeroLinea1" name="numeroLinea1" value="1"><br><br>

                    <label for="descrizione">Descrizione:</label><br>
                    <input type="text" id="descrizione" name="descrizione1" value="Pagamento bollettini c/c 9001 (diritti Motorizzazione) e c/c 4028 (imposta di bollo)"><br><br>

                    <label for="prezzoUnitario">Prezzo Unitario:</label><br>
                    <input type="text" id="prezzoUnitario" name="prezzoUnitario1" value="42.20"><br><br>

                    <label for="prezzoTotale">Prezzo Totale:</label><br>
                    <input type="text" id="prezzoTotale" name="prezzoTotale1" value="42.20"><br><br>

                    <label for="aliquotaIVA">Aliquota IVA:</label><br>
                    <input type="text" id="aliquotaIVA" name="aliquotaIVA1" value="0.00"><br><br>

                    <label for="natura">Natura:</label><br>
                    <input type="text" id="natura" name="natura1" value="N1"><br><br>

                </fieldset>
                <fieldset>
                    <legend>Numero Linea 2</legend>
                    <label for="numeroLinea2">Numero Linea:</label><br>
                    <input type="text" id="numeroLinea2" name="numeroLinea2" value="2"><br><br>

                    <label for="descrizione">Descrizione:</label><br>
                    <input type="text" id="descrizione" name="descrizione2" value="Costo Servizio"><br><br>

                    <label for="prezzoUnitario">Prezzo Unitario:</label><br>
                    <input type="text" id="prezzoUnitario" name="prezzoUnitario2" value="<%= guide ? ((importo-42.20)/1.22).toFixed(2) : '' %>"><br><br>

                    <label for="prezzoTotale">Prezzo Totale:</label><br>
                    <input type="text" id="prezzoTotale" name="prezzoTotale2" value="<%= guide ? ((importo-42.20)/1.22).toFixed(2) : '' %>"><br><br>

                    <label for="aliquotaIVA">Aliquota IVA:</label><br>
                    <input type="text" id="aliquotaIVA" name="aliquotaIVA2" value="22.00"><br><br>

                </fieldset>
                <fieldset>
                    <legend>Dati Riepilogo</legend>
                    <label for="aliquotaIVARiepilogo1">Aliquota IVA:</label><br>
                    <input type="text" id="aliquotaIVARiepilogo1" name="aliquotaIVARiepilogo1" value="22.00"><br><br>

                    <label for="imponibileImporto1">Imponibile Importo:</label><br>
                    <input type="text" id="imponibileImporto1" name="imponibileImporto1" value="<%= guide ? ((importo-42.20)/1.22).toFixed(2) : '' %>"><br><br>

                    <label for="imposta1">Imposta:</label><br>
                    <input type="text" id="imposta1" name="imposta1" value="<%= guide ? ((((importo-42.20)/1.22)*22)/100).toFixed(2) : '' %>"><br><br>

                    <label for="esigibilitaIVA1">Esigibilita IVA:</label><br>
                    <input type="text" id="esigibilitaIVA1" name="esigibilitaIVA1" value="I"><br><br>

                </fieldset>
                <fieldset>
                    <legend>Dati Riepilogo</legend>
                    <label for="aliquotaIVARiepilogo2">Aliquota IVA:</label><br>
                    <input type="text" id="aliquotaIVARiepilogo2" name="aliquotaIVARiepilogo2" value="0.00"><br><br>

                    <label for="natura2">Imponibile Importo:</label><br>
                    <input type="text" id="natura2" name="natura2" value="N1"><br><br>

                    <label for="imponibileImporto2">Imponibile Importo:</label><br>
                    <input type="text" id="imponibileImporto2" name="imponibileImporto2" value="<%= guide ? ((importo-42.20)/1.22).toFixed(2) : '' %>"><br><br>

                    <label for="imposta2">Imposta:</label><br>
                    <input type="text" id="imposta2" name="imposta2" value="0.00"><br><br>

                    <label for="RiferimentoNormativo2">Riferimento Normativo:</label><br>
                    <input type="text" id="RiferimentoNormativo2" name="RiferimentoNormativo2" value="Anticipazioni conto cliente art. 15 DPR 633/72"><br><br>

                </fieldset>
            </fieldset>

            <fieldset>
                <legend>Dati Pagamento</legend>
                <label for="condizioniPagamento">Condizioni Pagamento:</label><br>
                <input type="text" id="condizioniPagamento" name="condizioniPagamento" value="TP02"><br><br>

                <fieldset>
                    <legend>Dettaglio Pagamento</legend>
                    <label for="modalitaPagamento">Modalita Pagamento:</label><br>
                    <input type="text" id="modalitaPagamento" name="modalitaPagamento" value="MP08"><br><br>

                    <label for="importoPagamento">Importo Pagamento:</label><br>
                    <input type="text" id="importoPagamento" name="importoPagamento" value="<%= guide ? Number(importo).toFixed(2) : '' %>"><br><br>
                </fieldset>
            </fieldset>

            <input type="submit" id="submitBtn" value="Genera Fattura">
        </form>
    </main>
    <script src="/scripts/utils/delayBtn.js"></script>
</body>
</html>