<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Generatore Fattura Elettronica</title>
    <link rel="stylesheet" href="\styles\admin\payments\fatture\emettiFattura.css">
</head>
<body>
    <%- include('../../components/header.ejs') %>
    <% if (!iscrizione) { %>
        <script src="/scripts/admin/payments/fatture/autocompileFatture.js"></script>
        <%- include('../../components/clientiFatture.ejs') %>
    <% } %>
    <main>
        <form id="fatturaForm" method="POST" action="/createFattura">
            <fieldset>
                <legend>Dati Trasmissione</legend>
                <label for="codiceDestinatario">Codice Destinatario:</label><br>
                <input type="text" id="codiceDestinatario" name="codiceDestinatario" value="<%= iscrizione ? '0000000' : '' %>"><br><br>
            </fieldset>
            <fieldset>
                <legend>Dati Cessionario/Committente</legend>

                <label for="nomeCliente">Nome Cliente:</label><br>
                <input type="text" id="nomeCliente" name="nomeCliente" value="<%= iscrizione ? (dati.nome).replace(/\s+/g, ' ').trim() : '' %>"><br><br>

                <label for="cognomeCliente">Cognome Cliente:</label><br>
                <input type="text" id="cognomeCliente" name="cognomeCliente" value="<%= iscrizione ? (dati.cognome).replace(/\s+/g, ' ').trim() : '' %>"><br><br>

                <label for="codiceFiscaleCliente">Codice Fiscale Cliente:</label><br>
                <input type="text" id="codiceFiscaleCliente" name="codiceFiscaleCliente" value="<%= iscrizione ? (dati.cFiscale).replace(/\s+/g, ' ').trim() : '' %>"><br><br>
                

                <% if (!iscrizione) { %>
                    <label for="IdPaeseCliente">Id paese Cliente:</label><br>
                    <input type="text" id="IdPaeseCliente" name="IdPaeseCliente"><br><br>

                    <label for="partitaIvaCliente">Partita Iva Cliente:</label><br>
                    <input type="text" id="partitaIvaCliente" name="partitaIvaCliente"><br><br>

                    <label for="emailCliente">Email Cliente:</label><br>
                    <input type="email" id="emailCliente" name="emailCliente"><br><br>
                <% } %>
                <fieldset>
                    <legend>Sede Cessionario/Committente</legend>
                    <label for="indirizzoSedeCliente">Indirizzo:</label><br>
                    <input type="text" id="indirizzoSedeCliente" name="indirizzoSedeCliente" value="<%= iscrizione ? (dati.residenza.via).replace(/\s+/g, ' ').trim() + ' ' + (dati.residenza.nCivico).replace(/\s+/g, ' ').trim() : '' %>"><br><br>

                    <label for="capSedeCliente">CAP:</label><br>
                    <input type="text" id="capSedeCliente" name="capSedeCliente" value="<%= iscrizione ? (dati.residenza.cap).replace(/\s+/g, ' ').trim() : '' %>"><br><br>

                    <label for="comuneSedeCliente">Comune:</label><br>
                    <input type="text" id="comuneSedeCliente" name="comuneSedeCliente" value="<%= iscrizione ? (dati.residenza.comune).replace(/\s+/g, ' ').trim() : '' %>"><br><br>

                    <label for="provinciaSedeCliente">Provincia:</label><br>
                    <input type="text" id="provinciaSedeCliente" name="provinciaSedeCliente" value="<%= iscrizione ? (dati.residenza.provincia).replace(/\s+/g, ' ').trim() : '' %>"><br><br>

                    <label for="nazioneSedeCliente">Nazione:</label><br>
                    <input type="text" id="nazioneSedeCliente" name="nazioneSedeCliente" value="IT"><br><br>
                </fieldset>
            </fieldset>

            <fieldset>
                <legend>Dati Generici Documento</legend>
                <% let dataFatturazione = iscrizione ? data : '' %>
                <% if (!iscrizione) {
                    const today = new Date();
                    const DD = String(today.getDate()).padStart(2, '0'); 
                    const MM = String(today.getMonth() + 1).padStart(2, '0'); 
                    const YYYY = today.getFullYear(); 
                    dataFatturazione = `${YYYY}-${MM}-${DD}`;
                } %>
                <input type="hidden" id="data" name="data" value="<%= dataFatturazione %>">

                <label for="ImportoTotaleDocumento">Importo Totale:</label>
                <input type="text" id="ImportoTotaleDocumento" name="ImportoTotaleDocumento" value="<%= iscrizione ? Number(importo).toFixed(2) : '' %>">
            </fieldset>

                <!-- linea 1 -->
                <input type="hidden" id="descrizione" name="descrizione1" value="<%= iscrizione ? 'Pagamento bollettini c/c 9001 (diritti Motorizzazione) e c/c 4028 (imposta di bollo)': 'Servizio generazione IUV' %>">
                <input type="hidden" id="prezzoUnitario1" name="prezzoUnitario1" value="<%= iscrizione ? '42.20' : '' %>">
                <input type="hidden" id="prezzoTotale1" name="prezzoTotale1" value="<%= iscrizione ? '42.20' : '' %>">
                <input type="hidden" id="aliquotaIVA" name="aliquotaIVA1" value="<%= iscrizione ? '0.00' : '22.00' %>">
            
            <fieldset>
                <!-- linea 2 -->
                <input type="hidden" id="descrizione" name="descrizione2" value="<%= iscrizione ? 'Costo Servizio' : 'anticipazioni conto cliente iva esclusa art.15 dpr 633/72' %>">
                <label for="prezzoUnitario2">Anticipazioni Conto Cliente:</label><br>
                <input type="text" id="prezzoUnitario2" name="prezzoUnitario2" value="<%= iscrizione ? ((importo-42.20)/1.22).toFixed(2) : '' %>"><br><br>
                <input type="hidden" id="prezzoTotale2" name="prezzoTotale2" value="<%= iscrizione ? ((importo-42.20)/1.22).toFixed(2) : '' %>">
                <input type="hidden" id="aliquotaIVA" name="aliquotaIVA2" value="<%= iscrizione ? '22.00' : '0.00' %>">
            </fieldset>

            <!-- dati riepilogo riga 1 -->
            <input type="hidden" id="aliquotaIVARiepilogo1" name="aliquotaIVARiepilogo1" value="<%= iscrizione ? '0.00' : '22.00' %>">
            <input type="hidden" id="imponibileImporto1" name="imponibileImporto1" value="<%= iscrizione ? ((importo-42.20)/1.22).toFixed(2) : '' %>">
            <input type="hidden" id="imposta1" name="imposta1" value="<%= iscrizione ? ((((importo-42.20)/1.22)*22)/100).toFixed(2) : '' %>">
            <input type="hidden" id="esigibilitaIVA1" name="esigibilitaIVA1" value="I">
            
            <!-- dati riepilogo riga 2 -->
            <input type="hidden" id="aliquotaIVARiepilogo2" name="aliquotaIVARiepilogo2" value="<%= iscrizione ? '22.00' : '0.00' %>">
            <input type="hidden" id="imponibileImporto2" name="imponibileImporto2" value="<%= iscrizione ? '42.20' : '' %>">
            <input type="hidden" id="imposta2" name="imposta2" value="0.00">
            <input type="hidden" id="RiferimentoNormativo2" name="RiferimentoNormativo2" value="Anticipazioni conto cliente art. 15 DPR 633/72">

            <input type="hidden" id="condizioniPagamento" name="condizioniPagamento" value="TP02">
            <input type="hidden" id="modalitaPagamento" name="modalitaPagamento" value="<%= iscrizione ? 'MP08' : 'MP05' %>">
            <input type="hidden" id="importoPagamento" name="importoPagamento" value="<%= iscrizione ? Number(importo).toFixed(2) : '' %>">
            
            <% if (!iscrizione) { %>
                <div class="field" style="display: flex;">
                    <label for="saveCustomerData">Salva dati cliente:</label><br>
                    <input type="checkbox" id="saveCustomerData" name="saveCustomerData" value="save">
                </div>
            <% } %>

            <input type="hidden" id="iscrizione" name="iscrizione" value="<%= iscrizione %>">
            <input type="submit" id="submitBtn" value="Genera Fattura">
        </form>
    </main>
    <script src="/scripts/utils/delayBtn.js"></script>
</body>
</html>