<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Generatore Fattura Elettronica</title>
    <link rel="stylesheet" href="\styles\admin\payments\fatture\emettiFattura.css">
</head>
<body>
    <%- include('../../components/header.ejs') %>
    <% if (!iscrizione) { %>
        <div class="clienti">
            <details>
                <summary> Clienti </summary>
                <% clienti.forEach((cliente, index) => { %>
                    <details>
                        
                        <summary>
                            <input type="radio" class="clientRadioBtn" data-dati="<%= JSON.stringify(cliente) %>" name="cliente" id="cliente<%= index %>">
                             <%= cliente.cognome + ' ' + cliente.nome %> </summary>
                        <p>codice destinatario: <%= cliente.cDestinatario %></p>
                        <p>codice fiscale: <%= cliente.cFiscale %></p>
                        <p>email: <%= cliente.email %></p>
                        <h3>Residenza</h3>
                            <p>indirizzo: <%= cliente.residenza.indirizzo %></p>
                            <p>cap: <%= cliente.residenza.cap %></p>
                            <p>comune: <%= cliente.residenza.comune %></p>
                            <p>provincia: <%= cliente.residenza.provincia %></p>
                            <p>nazione: <%= cliente.residenza.nazione %></p>
                    </details>
                <% }); %>
            </details>
        </div>
    <% } %>

    <script>
    document.addEventListener('DOMContentLoaded', () => {
        const codiceDestinatarioInput = document.getElementById('codiceDestinatario');
        const nomeClienteInput = document.getElementById('nomeCliente');
        const cognomeClienteInput = document.getElementById('cognomeCliente');
        const codiceFiscaleClienteInput = document.getElementById('codiceFiscaleCliente');
        const emailClienteInput = document.getElementById('emailCliente');
        const indirizzoSedeClienteInput = document.getElementById('indirizzoSedeCliente');
        const capSedeClienteInput = document.getElementById('capSedeCliente');
        const comuneSedeClienteInput = document.getElementById('comuneSedeCliente');
        const provinciaSedeClienteInput = document.getElementById('provinciaSedeCliente');
        const nazioneSedeClienteInput = document.getElementById('nazioneSedeCliente');
        const clientRadioBtn = document.querySelectorAll('.clientRadioBtn');
        for (const btn of clientRadioBtn) {
            btn.addEventListener('change', () => {
                if (btn.checked) {
                    const data = JSON.parse(btn.dataset.dati);
                    codiceDestinatarioInput.value = data.cDestinatario;
                    nomeClienteInput.value = data.nome;
                    cognomeClienteInput.value = data.cognome;
                    codiceFiscaleClienteInput.value = data.cFiscale;
                    emailClienteInput.value = data.email;
                    indirizzoSedeClienteInput.value = data.residenza.indirizzo;
                    capSedeClienteInput.value = data.residenza.cap;
                    comuneSedeClienteInput.value = data.residenza.comune;
                    provinciaSedeClienteInput.value = data.residenza.provincia;
                    nazioneSedeClienteInput.value = data.residenza.nazione;
                }
            });
        }
    });
    </script>

    <main>
        
        <form id="fatturaForm" method="POST" action="/createFattura">
            <fieldset>
                <legend>Dati Trasmissione</legend>
                <input type="hidden" name="IdPaese" id="IdPaese" value="IT">
                <input type="hidden" name="IdCodice" id="IdCodice" value="06498290011">
                <input type="hidden" id="formatoTrasmissione" name="formatoTrasmissione" value="FPR12">

                <label for="codiceDestinatario">Codice Destinatario:</label><br>
                <input type="text" id="codiceDestinatario" name="codiceDestinatario" value="<%= iscrizione ? '0000000' : '' %>"><br><br>

                <input type="hidden" id="telefonoTrasmittente" name="telefonoTrasmittente" value="0116507136">
                <input type="hidden" id="emailTrasmittente" name="emailTrasmittente" value="autoscuola.centrale@libero.it">
                <input type="hidden" id="codiceFiscaleCedente" name="codiceFiscaleCedente" value="DMLNTN67S12L738X">    
                <input type="hidden" id="denominazioneCedente" name="denominazioneCedente" value="D'Amelio Antonio">    
                <input type="hidden" id="regimeFiscaleCedente" name="regimeFiscaleCedente" value="RF01">
                <input type="hidden" id="indirizzoSedeCedente" name="indirizzoSedeCedente" value="Corso Guglielmo Marconi, 33">
                <input type="hidden" id="capSedeCedente" name="capSedeCedente" value="10125">
                <input type="hidden" id="comuneSedeCedente" name="comuneSedeCedente" value="TORINO">
                <input type="hidden" id="provinciaSedeCedente" name="provinciaSedeCedente" value="TO">
                <input type="hidden" id="nazioneSedeCedente" name="nazioneSedeCedente" value="IT">
            </fieldset>
                
            <fieldset>
                <legend>Dati Cessionario/Committente</legend>

                <label for="nomeCliente">Nome Cliente:</label><br>
                <input type="text" id="nomeCliente" name="nomeCliente" value="<%= iscrizione ? (dati.nome).replace(/\s+/g, ' ').trim() : '' %>"><br><br>

                <label for="cognomeCliente">Cognome Cliente:</label><br>
                <input type="text" id="cognomeCliente" name="cognomeCliente" value="<%= iscrizione ? (dati.cognome).replace(/\s+/g, ' ').trim() : '' %>"><br><br>

                <label for="codiceFiscaleCliente">Codice Fiscale Cliente:</label><br>
                <input type="text" id="codiceFiscaleCliente" name="codiceFiscaleCliente" value="<%= iscrizione ? (dati.cFiscale).replace(/\s+/g, ' ').trim() : '' %>"><br><br>
                <% if (!iscrizione) { %>
                    <label for="emailCliente">Email Cliente:</label><br>
                    <input type="email" id="emailCliente" name="emailCliente"><br><br>
                <% } %>
                <fieldset>
                    <legend>Sede Cessionario/Committente</legend>
                    <label for="indirizzoSedeCliente">Indirizzo:</label><br>
                    <input type="text" id="indirizzoSedeCliente" name="indirizzoSedeCliente" value="<%= iscrizione ? (dati.residenza.via).replace(/\s+/g, ' ').trim() + ' ' + (dati.residenza.nCivico).replace(/\s+/g, ' ').trim() : '' %>"><br><br>

                    <label for="capSedeCliente">CAP:</label><br>
                    <input type="text" id="capSedeCliente" name="capSedeCliente" value="<%= iscrizione ? (dati.residenza.cap).replace(/\s+/g, ' ').trim() : '' %>"><br><br>

                    <label for="comuneSedeCliente">Comune:</label><br>
                    <input type="text" id="comuneSedeCliente" name="comuneSedeCliente" value="<%= iscrizione ? (dati.residenza.comune).replace(/\s+/g, ' ').trim() : '' %>"><br><br>

                    <label for="provinciaSedeCliente">Provincia:</label><br>
                    <input type="text" id="provinciaSedeCliente" name="provinciaSedeCliente" value="<%= iscrizione ? (dati.residenza.provincia).replace(/\s+/g, ' ').trim() : '' %>"><br><br>

                    <label for="nazioneSedeCliente">Nazione:</label><br>
                    <input type="text" id="nazioneSedeCliente" name="nazioneSedeCliente" value="IT"><br><br>
                </fieldset>
            </fieldset>

            <fieldset>
                <legend>Dati Generici Documento</legend>
                <input type="hidden" id="tipoDocumento" name="tipoDocumento" value="TD01">
                <input type="hidden" id="divisa" name="divisa" value="EUR">

                <label for="data">Data:</label><br>
                <input type="date" id="data" name="data" value="<%= iscrizione ? data : '' %>"><br><br>

                <label for="ImportoTotaleDocumento">ImportoTotaleDocumento</label>
                <input type="text" id="ImportoTotaleDocumento" name="ImportoTotaleDocumento" value="<%= iscrizione ? Number(importo).toFixed(2) : '' %>">
            </fieldset>

            <fieldset>
                <legend>Dati Beni e Servizi</legend>
                <fieldset>
                    <legend><%= iscrizione ? 'Pagamento bollettini': 'Costo servizi soggetto ad iva' %></legend>
                    <input type="hidden" id="numeroLinea1" name="numeroLinea1" value="1">

                    <label for="descrizione">Descrizione:</label><br>
                    <input type="text" id="descrizione" name="descrizione1" value="<%= iscrizione ? 'Pagamento bollettini c/c 9001 (diritti Motorizzazione) e c/c 4028 (imposta di bollo)': '' %>"><br><br>

                    <label for="prezzoUnitario1">Prezzo Unitario:</label><br>
                    <input type="text" id="prezzoUnitario1" name="prezzoUnitario1" value="<%= iscrizione ? '42.20' : '' %>"><br><br>

                    <input type="hidden" id="prezzoTotale1" name="prezzoTotale1" value="<%= iscrizione ? '42.20' : '' %>">

                    <% if (iscrizione) { %>
                        <input type="hidden" id="aliquotaIVA" name="aliquotaIVA1" value="0.00">
                        <input type="hidden" id="natura" name="natura1" value="N1">
                    <% }else{ %>
                        <input type="hidden" id="aliquotaIVA" name="aliquotaIVA1" value="22.00">
                    <% } %>
                </fieldset>
                <fieldset>
                    <legend>anticipazioni conto cliente</legend>
                    <input type="hidden" id="numeroLinea2" name="numeroLinea2" value="2">
                    <input type="hidden" id="descrizione" name="descrizione2" value="<%= iscrizione ? 'Costo Servizio' : 'anticipazioni conto cliente iva esclusa art.15 dpr 633/72' %>">

                    <label for="prezzoUnitario2">Prezzo Unitario:</label><br>
                    <input type="text" id="prezzoUnitario2" name="prezzoUnitario2" value="<%= iscrizione ? ((importo-42.20)/1.22).toFixed(2) : '' %>"><br><br>

                    <input type="hidden" id="prezzoTotale2" name="prezzoTotale2" value="<%= iscrizione ? ((importo-42.20)/1.22).toFixed(2) : '' %>">

                    <% if (iscrizione) { %>
                        <input type="hidden" id="aliquotaIVA" name="aliquotaIVA2" value="22.00">
                    <% }else{ %>
                        <input type="hidden" id="aliquotaIVA" name="aliquotaIVA2" value="0.00">
                        <input type="hidden" id="natura" name="natura2" value="N1">
                    <% } %>
                </fieldset>
                <fieldset>
                    <legend>Dati Riepilogo</legend>

                    <input type="hidden" id="aliquotaIVARiepilogo1" name="aliquotaIVARiepilogo1" value="22.00">

                    <label for="imponibileImporto1">Imponibile Importo:</label><br>
                    <input type="text" id="imponibileImporto1" name="imponibileImporto1" value="<%= iscrizione ? ((importo-42.20)/1.22).toFixed(2) : '' %>"><br><br>

                    <label for="imposta1">Imposta:</label><br>
                    <input type="text" id="imposta1" name="imposta1" value="<%= iscrizione ? ((((importo-42.20)/1.22)*22)/100).toFixed(2) : '' %>"><br><br>

                    <label for="esigibilitaIVA1">Esigibilita IVA:</label><br>
                    <input type="text" id="esigibilitaIVA1" name="esigibilitaIVA1" value="I"><br><br>

                </fieldset>
                <fieldset>
                    <legend>Dati Riepilogo</legend>
                    <label for="aliquotaIVARiepilogo2">Aliquota IVA:</label><br>
                    <input type="text" id="aliquotaIVARiepilogo2" name="aliquotaIVARiepilogo2" value="0.00"><br><br>

                    <label for="natura2">Imponibile Importo:</label><br>
                    <input type="text" id="natura2" name="natura2" value="N1"><br><br>

                    <label for="imponibileImporto2">Imponibile Importo:</label><br>
                    <input type="text" id="imponibileImporto2" name="imponibileImporto2" value="<%= iscrizione ? ((importo-42.20)/1.22).toFixed(2) : '' %>"><br><br>

                    <label for="imposta2">Imposta:</label><br>
                    <input type="text" id="imposta2" name="imposta2" value="0.00"><br><br>

                    <label for="RiferimentoNormativo2">Riferimento Normativo:</label><br>
                    <input type="text" id="RiferimentoNormativo2" name="RiferimentoNormativo2" value="Anticipazioni conto cliente art. 15 DPR 633/72"><br><br>

                </fieldset>
            </fieldset>

            <fieldset>
                <legend>Dati Pagamento</legend>
                <label for="condizioniPagamento">Condizioni Pagamento:</label><br>
                <input type="text" id="condizioniPagamento" name="condizioniPagamento" value="TP02"><br><br>

                <fieldset>
                    <legend>Dettaglio Pagamento</legend>
                    <label for="modalitaPagamento">Modalita Pagamento:</label><br>
                    <input type="text" id="modalitaPagamento" name="modalitaPagamento" value="<%= iscrizione ? 'MP08' : 'MP05' %>"><br><br>

                    <label for="importoPagamento">Importo Pagamento:</label><br>
                    <input type="text" id="importoPagamento" name="importoPagamento" value="<%= iscrizione ? Number(importo).toFixed(2) : '' %>"><br><br>
                </fieldset>
            </fieldset>
            <% if (!iscrizione) { %>
                <div class="field" style="display: flex;">
                    <label for="saveCustomerData">Salva dati cliente:</label><br>
                    <input type="checkbox" id="saveCustomerData" name="saveCustomerData" value="save">
                </div>
            <% } %>
            <input type="hidden" id="iscrizione" name="iscrizione" value="<%= iscrizione %>">
            <input type="submit" id="submitBtn" value="Genera Fattura">
        </form>
    </main>
    <script src="/scripts/utils/delayBtn.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const ImportoTotaleDocumento = document.getElementById('ImportoTotaleDocumento');
            const prezzoUnitario2Input = document.getElementById('prezzoUnitario2');
            function autocompleteImports(){
                const importo = Number(ImportoTotaleDocumento.value).toFixed(2);
                const prezzoUnitario2 = Number(prezzoUnitario2Input.value).toFixed(2);
                if(importo != 0 && prezzoUnitario2 != 0){
                    const prezzoUnitario1 = document.getElementById('prezzoUnitario1');
                    const prezzoTotale1 = document.getElementById('prezzoTotale1');
                    const prezzoTotale2 = document.getElementById('prezzoTotale2');
                    const imponibileImporto1 = document.getElementById('imponibileImporto1');
                    const imposta1 = document.getElementById('imposta1');
                    const imponibileImporto2 = document.getElementById('imponibileImporto2');
                    const importoPagamento = document.getElementById('importoPagamento');
                    prezzoUnitario1.value = ((importo-prezzoUnitario2)/1.22).toFixed(2)
                    prezzoTotale1.value = prezzoUnitario1.value;
                    imponibileImporto1.value = prezzoUnitario1.value;
                    imponibileImporto2.value = prezzoUnitario2;
                    prezzoTotale2.value = prezzoUnitario2;
                    prezzoUnitario2Input.value = prezzoUnitario2;
                    ImportoTotaleDocumento.value = importo;
                    importoPagamento.value = importo;
                    imposta1.value = (((prezzoUnitario1.value)*22)/100).toFixed(2);
                }
            }

            prezzoUnitario2Input.addEventListener('change', autocompleteImports);
            ImportoTotaleDocumento.addEventListener('change', autocompleteImports);
        });
    </script>
    
</body>
</html>