<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Emetti Fattura</title>
    <link rel="stylesheet" href="\styles\admin\payments\fatture\fattureDaEmettere.css">
</head>
<body>
    <%- include('../../components/header.ejs') %>
    <main>
        <% let i = 1; %>
        <% for (const fattura of dati.fatture) { %>
            <% if (!fattura.emessa) { %>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Fattura <%= i++ %></h5>
                        <p class="card-text">Data: <%= fattura.data %></p>
                        <p class="card-text">Importo: <%= fattura.importo %>€</p>
                                                    <% 
                                const services = ['Paypal', 'Stripe', 'Satispay', 'Codice'];
                                const cleanedUrl = pagamento.paymentUrl.replace(/^https?:\/\/(www\.)?/, '').split('/')[0].toLowerCase();
                                let paymentMethod;
                                for(const service of services){
                                    if(cleanedUrl.includes(service.toLowerCase())){
                                        paymentMethod = service;
                                        break;
                                    }
                                }
                              %>
                        <p class="card-text">
                            <% if (paymentMethod != 'Codice') { %>
                                <a href="<%= pagamento.paymentUrl %>"><%= paymentMethod %></a>
                            <% }else{ %>
                                <%= paymentMethod %>
                            <% } %>
                        </p>
                        <% let dataEncoded = encodeURIComponent(fattura.data); %>
                        <% let link = `/admin/emettiFattura?cf=${encodeURIComponent(cf)}&data=${dataEncoded}&importo=${encodeURIComponent(fattura.importo)}` %>
                        <a href="<%= link %>" class="btn btn-primary">Emetti Fattura</a>
                    </div>
                </div>
                <br>
            <% } %>
        <% } %>
    </main>
</body>
</html>