<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Storico Fatture</title>
    <link rel="stylesheet" href="\styles\admin\payments\fatture\storicoFatture.css">
    <script src="/scripts/admin/payments/fatture/storicoFatture.js"></script>
</head>
<body>
    <%- include('../../components/header.ejs') %>
    <main>
        <table>
            <form id="fattureFilters" action="/downloadFatture" method="POST">
            <thead>
                <tr class="filters">
                        <th colspan="1">
                            <label for="tipo">tipo</label>
                            <select name="tipo" id="tipo">
                                <option value="all">tutti</option>
                                <option value="g">guide</option>
                                <option value="r">rinnovi</option>
                                <option value="m">medici</option>
                                <option value="d">duplicati</option>
                                <option value="i">iscrizioni</option>
                            </select>
                        </th>
                        <th colspan="2">
                            <label for="fromDate">Da</label>
                            <input type="date" name="fromDate" id="fromDate">
                        </th>
                        <th colspan="2">
                            <label for="toDate">A</label>
                            <input type="date" name="toDate" id="toDate">
                        </th>
                        <th colspan="1">
                            <label for="user">Utente</label>
                            <input type="text" name="user" id="user">
                        </th>
                        <th colspan="1">
                            <button type="submit">
                                <span class="material-symbols-outlined">
                                    download
                                </span>
                            </button>
                        </th>
                    
                </tr>
                <tr>
                    <th>
                        <label for="selectUsersBtn" style="user-select: none; cursor: pointer;">
                            <span id="selectUsers" class="material-symbols-outlined">
                                checklist
                            </span>
                        </label>
                        <input type="checkbox" id="selectUsersBtn" style="display: none;">
                    </th>
                    <th>numero</th>
                    <th>data</th>
                    <th>importo</th>
                    <th>File</th>
                    <th>cliente</th>
                    <th>pagata</th>
                </tr>
            </thead>
            
            <tbody>
                <% for(const fattura of fatture){ %>
                    <tr class="row">
                        <td><input type="checkbox" class="checkboxFatture" name="<%= fattura.nomeFile %>" value="<%= fattura.nomeFile %>" style="display: none;"></td>
                        <td><%= fattura.numero %></td>
                        <td><%= fattura.data %></td>
                        <td><%= fattura.importo %>€</td>
                        <td><%= fattura.nomeFile %></td>
                        <td><%= fattura.user ? fattura.user : 'N/A' %></td>
                        <td><input type="checkbox" data-fatturaid="<%= fattura._id%>" name="paid" <%= fattura.nomeFile.includes('m00') ? (fattura.paid ? 'checked' : '') : 'disabled checked' %>></td>
                    </tr>
                <% } %>
            </tbody>
        </form>
        </table>
    </main>
    <script>
        const selectUsersBtn = document.getElementById('selectUsersBtn');
        const checkboxFatture = document.querySelectorAll('.checkboxFatture');
        selectUsersBtn.addEventListener('input', () => {
            if(selectUsersBtn.checked){
                for(const checkbox of checkboxFatture){
                    checkbox.style.display = 'inline-flex';
                }
            }else{
                for(const checkbox of checkboxFatture){
                    checkbox.style.display = 'none';
                }
            }
        })
    </script>

    <script>
        const paidInput = document.querySelectorAll('[name="paid"]');

        for (const input of paidInput) {
            input.addEventListener('change', async () => {
                console.log(input.checked);
                const response = await fetch('/admin/editFatturaStatus',
                    {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({paid: input.checked, id: input.dataset.fatturaid})
                });
                if(!response.ok){
                    alert(`Si è verificato un'errore con codice: ${response.status}`);
                }
                console.log('cambiamento di stato avvenuto con successo');
            });
        }
    </script>

</body>
</html>