<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin - Storico Fatture</title>
    <link rel="stylesheet" href="\styles\admin\payments\fatture\storicoFatture.css">
    <script src="/scripts/admin/payments/fatture/storicoFatture.js"></script>
</head>
<body>
    <%- include('../../components/header.ejs') %>
    <main>
        <table>
            <form id="fattureFilters" action="/downloadFatture" method="POST">
            <thead>
                <tr class="filters">
                    
                        <th colspan="2">
                            <label for="fromDate">Da</label>
                            <input type="date" name="fromDate" id="fromDate">
                        </th>
                        <th colspan="2">
                            <label for="toDate">A</label>
                            <input type="date" name="toDate" id="toDate">
                        </th>
                        <th colspan="2">
                            <button type="submit">
                                <span class="material-symbols-outlined">
                                    download
                                </span>
                            </button>
                        </th>
                    
                </tr>
                <tr>
                    <th>
                        <label for="selectUsersBtn" style="user-select: none; cursor: pointer;">
                            <span id="selectUsers" class="material-symbols-outlined">
                                checklist
                            </span>
                        </label>
                        <input type="checkbox" id="selectUsersBtn" style="display: none;">

                    </th>
                    <th>numero</th>
                    <th>data</th>
                    <th>importo</th>
                    <th>File</th>
                </tr>
            </thead>
            
            <tbody>
                <% for(const fattura of fatture){ %>
                    <tr class="row">
                        <td><input type="checkbox" class="checkboxFatture" name="<%= fattura.nomeFile %>" value="<%= fattura.nomeFile %>" style="display: none;"></td>
                        <td><%= fattura.numero %></td>
                        <td><%= fattura.data %></td>
                        <td><%= fattura.importo %>€</td>
                        <td><%= fattura.nomeFile %></td>
                    </tr>
                <% } %>
            </tbody>
        </form>
        </table>
    </main>
    <script>
        const selectUsersBtn = document.getElementById('selectUsersBtn');
        const checkboxFatture = document.querySelectorAll('.checkboxFatture');
        selectUsersBtn.addEventListener('input', () => {
            if(selectUsersBtn.checked){
                for(const checkbox of checkboxFatture){
                    checkbox.style.display = 'inline-flex';
                }
            }else{
                for(const checkbox of checkboxFatture){
                    checkbox.style.display = 'none';
                }
            }
        })
    </script>
</body>
</html>